.box{
    margin: 10px;
    text-align: center;
    width:20px;
    background-color: whitesmoke;
}
.numHold{
    font-size: 50px;
    text-align: center;
}
.butt{
    text-align: center;
}
.restart-butt{
    text-align: right;
}
.container{
    text-align: center;
    margin-top: 30px;
}